*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*---------- nav - bar ------------*/

#nav-bar{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 70px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:auto;
    padding: 0 50px; 
    box-shadow: 0 0 10px 0 rgba(154, 156, 154, 0.288);
}

#nav-bar .sidebar{
    visibility: hidden;
}

#nav-bar em{
    font-size: 25px;
    font-weight: 900;
    font-family: cursive;
    color: rgb(255, 0, 149);
    margin: 40px 30px;
}

#nav-bar .icons{
    display: flex;
}

#nav-bar .icons li{
    list-style: none;
    margin-left: 50px;
}

#nav-bar .icons a:hover{
    color:rgb(255, 0, 149);
    cursor: pointer;
}

#nav-bar .icons a{
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

#nav-bar .icons li i{
    font-size: 14px;
}

#nav-bar .menu{
    display: none;
}

/*---------- Home ------------*/

body{
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    padding: 20px 130px;
}

#home{
    width: 1100px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 10px 15px 10px rgba(154, 156, 154, 0.288);
}

#home:hover{
    box-shadow: -10px -10px 15px 0 #ccc8c8a9;
    border: 1px solid #ccc8c8a9;
    cursor: pointer;
}

#home .col{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 100px 80px;
}

#home .col .home-content h1{
    color: rgba(255, 0, 149, 0.815);
    font-weight: bold;
    font-size: 35px;
    margin: 8px 0;
}

#home .col .home-content h3 span{
    color: rgb(255, 0, 149)
}

#home .col .home-content p{
    font-size: 18px;
    line-height: 25px;
    margin-top: 15px;
}

#home .col .home-content i{
    font-size: 30px;
    color: rgb(255, 0, 149);
    margin: 0 40px 25px 0;
}

.col .home-content .icon{
    margin:30px 0;

}

#home .col .image img{
    width:230px;
    height: 230px;
    border-radius: 50%;
    border: 3px solid rgb(255, 0, 149)
}

/*---------- about ------------*/

#about{
    width: 1100px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 10px 15px 10px rgba(154, 156, 154, 0.288);
    margin: 80px 0;
    padding: 50px 80px;
}

#about:hover{
    box-shadow: -10px -10px 15px 0 #ccc8c8a9;
    border: 1px solid #ccc8c8a9;
    cursor: pointer;
}

#about strong{
    font-size: 25px;
    font-weight: bold;
    color: rgb(255, 0, 149);
}

#about p{
    font-size: 16px;
    line-height: 25px;
    margin-top: 30px;

}

#about .about .education{
    padding: 30px 50px;
}

#about .about .education header{
    color: #000;
    font-weight: 700;
}

#about .about .education .education-section{
    border-left: 5px solid rgb(255, 0, 149, 0.3);
    padding-left: 30px; 
    margin-left: 30px;
    margin-bottom: 50px;
}

.education-section .education-content::before{  
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color:  rgb(255, 0, 149, 0.6);
    position: absolute;
    left:285px;
}

#about .about .education .education-section .education-content{
    width:600px;
    height:120px;
    border: 1px solid #ccc8c8a9; 
    border-radius: 5px;
    box-shadow: -10px -10px 15px #ccc8c8a9;
    padding: 10px 50px;
    margin: 20px 20px;
    line-height: 25px;
}

#about .about .education .education-section .education-content:hover{
    box-shadow: 0 10px 15px 0 #ccc8c8a9;
    cursor: pointer;
}

#about .about .education .education-section .education-content span{
    font-weight: bold;
    color: rgb(255, 0, 149);   
}

/*---------- experience ------------*/

#experience{
    width: 1100px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 10px 15px 10px rgba(154, 156, 154, 0.288);
    margin: 80px 0;
    padding: 50px 10px;
}

#experience:hover{
    box-shadow: -10px -10px 15px 0 #ccc8c8a9;
    border: 1px solid #ccc8c8a9;
    cursor: pointer;
}

#experience strong{
    font-size: 25px;
    font-weight: bold;
    color: rgb(255, 0, 149);
    margin-left: 80px;
}

#experience .experience{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#experience .experience .experience-section {
    width:320px;
    height:250px;
    border: 1px solid #ccc8c8a9; 
    border-radius: 15px;
    box-shadow: -10px -10px 15px #ccc8c8a9;
    padding: 10px 20px;
    margin: 40px 20px;
    line-height: 30px;
}

#experience .experience .experience-section:hover {
    transform:scale(0.9);
    transition:2s;
}

#experience .experience .experience-section img{
    width:150px;
    height:50px;
}

#experience .experience .experience-section span{
    font-weight: bold;
    color: rgb(255, 0, 149);
}
#experience .experience .experience-section p{
    font-size: 20px;
}

#experience .experience .experience-section code a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(69, 1, 133);
}

#experience .experience .experience-section button{
    width: 150px;
    height:40px;
    background-color: rgb(255, 0, 149);
    border: 1px solid rgb(255, 0, 149);
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin: 10px 70px 0 70px;
    box-shadow: 3px 5px 10px 0 rgba(255, 0, 147, 0.4);
    cursor: pointer;
}

/*---------- skill ------------*/

#skill{
    width: 1100px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 10px 15px 10px rgba(154, 156, 154, 0.288);
    margin: 80px 0;
    padding: 50px 0;
}

#skill:hover{
    box-shadow: -10px -10px 15px 0 #ccc8c8a9;
    border: 1px solid #ccc8c8a9;
    cursor: pointer;
}

#skill strong{
    font-size: 25px;
    font-weight: bold;
    color: rgb(255, 0, 149);
    margin-left: 80px;
}

#skill .skill-section{
    text-align: center;
}

#skill .skill-section .skill-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    display: flex;
    justify-content: center; 
}

#skill .skill-section .skill-content .col{
    width: 200px;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 rgba(154, 156, 154, 0.288);
    margin-top: 30px;
    padding: 20px 23px;
}

#skill .skill-section .skill-content .col:hover {
    transform:scale(0.9);
    transition:2s;
}

#skill .skill-section .skill-content .col img{
    width:80px;
    height:80px;
    margin: 15px 0;
}

#skill .skill-section .skill-content .col .progress bold{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 0, 149);

}

#skill .skill-section .skill-content .col .progress-bar{
    position: relative;
    width:150px;
    height:6px;
    border-radius: 10px;
    border: 1px solid rgb(255, 0, 149);
    box-shadow: 3px 4px 5px 0 rgba(167, 165, 165, 0.747);
    font-size: 0;  
    font-weight: bold; 
    margin-top: 10px;
}

#skill .skill-section .skill-content .col .progress-bar span{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    border-radius: 10px;
    color: rgb(255, 0, 149);
    background-color: rgb(255, 0, 149);
}

/*---------- project ------------*/

#project{
    width: 1100px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 10px 15px 10px rgba(154, 156, 154, 0.288);
    margin: 80px 0;
    padding: 50px 80px;
}

#project:hover{
    box-shadow: -10px -10px 15px 0 #ccc8c8a9;
    border: 1px solid #ccc8c8a9;
    cursor: pointer;
}

#project strong{
    font-size: 25px;
    font-weight: bold;
    color: rgb(255, 0, 149);
}

#project bold{
    font-size: 23px;
    font-weight: 800;
    color: rgb(255, 0, 149, 0.6);
    margin: 150px 0 0 100px;
}

#project .project .project-section{
    width: 900px;
    height: 250px;
    border: 1px solid #f5f2f2ea;
    border-left: 8px solid rgb(255, 0, 149, 0.6);
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 rgba(154, 156, 154, 0.288);
    margin:50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 30px 20px;
}

#project .project .project-section .project-content{
    width: 470px; 
    height:200px;
    line-height: 30px;
}

#project .project .project-section .project-content span{
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 0, 149);
}

#project .project .project-section .project-content big{
    font-size: 18px;  
    font-weight: bold;  
}

#project .project .project-section .project-content .skills button{
    width: 80px;
    height: 25px;
    background-color: rgba(255, 0, 149, 0.6);
    border: none;
    border-radius: 5px;
    margin: 10px 0;
}

#project .project .project-section .project-content p{
    font-size: 16px;
    line-height: 20px;
}

#project .project .project-section .project-content code a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(69, 1, 133);
}


#project .project .project-section .project-image img{
    width: 330px;
    height: 200px;
    border-radius: 20px;
    border: 2px solid rgba(154, 156, 154, 0.288);
}

/*---------- contact ------------*/

#contact{
    width: 1100px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 10px 15px 10px rgba(154, 156, 154, 0.288);
    margin: 80px 0;
    padding: 50px 80px;
}

#contact:hover{
    box-shadow: -10px -10px 15px 0 #ccc8c8a9;
    border: 1px solid #ccc8c8a9;
    cursor: pointer;
}

#contact strong{
    font-size: 25px;
    font-weight: bold;
    color: rgb(255, 0, 149);
}

#contact .contact{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

#contact .social-media{
    text-align: center;

}

#contact .social-media a i{ 
    font-size: 30px;
    color: rgb(255, 0, 149);
    margin: 40px 30px 40px 0;
}

/*---------- Copyright ------------*/

#copyright{
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    width: auto;
    height:60px;
    border: 1px solid #dad8d8;
    box-shadow: -5px 0 0 0 #dad8d8;
    display: flex;
    justify-content: center;
    align-items: center;
}

#copyright p{
    font-size:18px;
    font-weight: bold;
    color: rgb(255, 0, 149);
}

/*-------------- Media for small screens ---------------*/

/*----------- Mobile device -------------*/

@media(min-width:300px) and (max-width: 480px){

    #nav-bar{
        padding: 0 20px;
    }
    
    #nav-bar .sidebar{
        position: fixed;
        top:0;
        right: 0;
        z-index: 1000;
        width: auto;
        height: auto;
        font-size: 18px;
        background-color: #fff; 
        box-shadow: 0 0 10px 10px rgba(154, 156, 154, 0.288);
        padding: 30px 80px 100px 30px;
        display: none;
        flex-direction: column;
        visibility: visible;
        }
    
    #nav-bar em{
        font-size: 18px;
    }

    #nav-bar .sidebar li{
        list-style: none;
        line-height: 50px;
    }

    #nav-bar .sidebar li a{
        text-decoration: none;
        margin-left: 20px;
        color: rgb(255, 0, 149);

    }

    #nav-bar .sidebar li i{
        margin-right: 30px;
    }
    
    #nav-bar .icons{
        display: none;
    }

    #nav-bar .menu li {
        list-style: none;
    }
    
    #nav-bar .menu li i{
        color: rgb(255, 0, 149);
        font-size: 18px;
    }
    
    /*---------- Home ------------*/

    body{
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        padding: 20px 10px 20px 10px;
    }

    #home{
        width: auto;
        height: auto;
    }

    #home .col{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    #home .col .home-content h1{
        font-size: 20px;
        margin: 8px 0;
    }

    #home .col .home-content p{
        font-size: 14px;
        line-height: 25px;
        margin-top: 15px;
    }

    #home .col .home-content i{
        font-size: 25px;
        color: rgb(255, 0, 149);
        margin: 0 20px 20px 0;
    }

    .col .home-content .icon{
        margin: 20px 0;
    }

    #home .col .image img{
        display: none;
    }

    /*---------- about ------------*/

    #about{
        width: auto;
        height: auto;
        padding: 50px 20px;
    }

    #about strong{
        font-size: 20px;
    }

    #about p{
        font-size: 14px;
        margin-top: 10px;
    }

    #about .about .education{
        padding: 30px 0;
    }

    #about .about .education header{
        color: rgb(255, 0, 149, 0.8);
    }

    #about .about .education .education-section{
        border-left: none;
        padding-left: 0; 
        margin-left: 0;
        margin-bottom: 0;
    }

    #about .about .education .education-section .education-content{
        width:auto;
        height:auto;
        padding: 15px 10px;
        margin: 20px 5px 20px 10px;
    }

    .education-section .education-content::before{  
        width: 0;
        height: 0;
    }

    /*---------- experience ------------*/

    #experience{
        width: auto;
        padding: 50px 20px;
    }

    #experience strong{
        font-size: 20px;
        margin-left: 0;
    }

    #experience .experience{
        display: flex;
        flex-direction: column;
    }

    #experience .experience .experience-section {
        width: auto;
        height:auto;
        padding: 10px 20px;
        margin: 20px 0;
        font-size: 16px;
        text-align: center;
    }

    #experience .experience .experience-section:hover {
        transform: scale(1);
    }

    #experience .experience .experience-section img{
        width: 120px;
        height: 40px;
    }

    #experience .experience .experience-section span{
        font-size: 15px;
    }

    #experience .experience .experience-section code a{
        font-size: 16px;
    }

    #experience .experience .experience-section button{
        width: 100px;
        height:30px;
        font-size: 16px;
        margin: 10px 0;
        
    }

    /*---------- skill ------------*/

    #skill{
        width: auto;
        margin: 80px 0;
        padding: 50px 20px;
    }

    #skill strong{
        font-size: 20px;
        margin-left: 0;
    }

    #skill .skill-section .skill-content{
        display: flex;
        justify-content: center; 
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
    }

    #skill .skill-section .skill-content .col{
        width: auto;
        margin-top: 0;
        padding: 15px 50px;
    }

    #skill .skill-section .skill-content .col:hover {
        transform:scale(1);
    }

    #skill .skill-section .skill-content .col img{
        width:60px;
        height:60px;
        margin: 15px 0;
    }

    #skill .skill-section .skill-content .col .progress bold{
        font-size: 16px;
    }

    #skill .skill-section .skill-content .col .progress-bar{
        width: 100px;
    }

    /*---------- project ------------*/

    #project{
        width: auto;
        padding: 50px 20px;
    }

    #project strong{
        font-size: 20px;
    }

    #project bold{
        font-size: 18px;
        margin: 150px 0 0 20px;
    }

    #project .project .project-section{
        width: auto;
        height: auto;
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
    }

    #project .project .project-section .project-content{
        width: auto; 
        height: auto;
    }

    #project .project .project-section .project-content span{
        font-size: 18px;
    }

    #project .project .project-section .project-content big{
        font-size: 16px;  
    }

    #project .project .project-section .project-content .skills button{
        width: 80px;
        height: 25px;
        margin: 10px 0;
    }

    #project .project .project-section .project-content p{
        font-size: 16px;
        line-height: 25px;
    }

    #project .project .project-section .project-content code a{
        font-size: 18px;
    }

    #project .project .project-section .project-image img{
        display: none;
    }


    /*---------- contact ------------*/

    #contact{
        width: auto;
        padding: 30px 20px;
    }

    #contact strong{
        font-size: 20px;
    }

    #contact .contact{
        font-size: 16px;
    }

    #contact .social-media a i{ 
        font-size: 20px;
        margin: 40px 30px 10px 0;
    }

    /*---------- Copyright ------------*/

    #copyright p{
        font-size:14px;
    }

}

/*----------- Ipads & Tablets -------------*/

@media(min-width: 481px) and (max-width: 770px){

    #nav-bar{
        padding: 0 40px;
    }
    
    #nav-bar .sidebar{
        position: fixed;
        top:0;
        right: 0;
        z-index: 1000;
        width: auto;
        height: auto;
        font-size: 18px;
        background-color: #fff; 
        box-shadow: 0 0 10px 10px rgba(154, 156, 154, 0.288);
        padding: 30px 80px 100px 30px;
        display: none;
        flex-direction: column;
        visibility: visible;
        }
    
    #nav-bar em{
        font-size: 18px;
    }

    #nav-bar .sidebar li{
        list-style: none;
        line-height: 50px;
    }

    #nav-bar .sidebar li a{
        text-decoration: none;
        margin-left: 20px;
        color: rgb(255, 0, 149);

    }

    #nav-bar .sidebar li i{
        margin-right: 20px;
    }
    
    #nav-bar .icons{
        display: none;
    }

    #nav-bar .menu li {
        list-style: none;
    }
    
    #nav-bar .menu li i{
        color: rgb(255, 0, 149);
        font-size: 18px;
    }
    
    /*---------- Home ------------*/

    body{
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        padding: 20px 25px;
    }

    #home{
        width: auto;
        height: auto;
        border-radius: 20px;
        box-shadow: 0 10px 15px 10px rgba(154, 156, 154, 0.288);
    }

    #home .col{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;
    }

    #home .col .home-content h1{
        font-size: 20px;
        margin: 8px 0;
    }

    #home .col .home-content p{
        font-size: 14px;
        line-height: 25px;
        margin-top: 15px;
    }

    #home .col .home-content i{
        font-size: 25px;
        color: rgb(255, 0, 149);
        margin: 0 20px 20px 0;
    }

    .col .home-content .icon{
        margin: 20px 0;
    }

    #home .col .image img{
        display: none;
    }

    /*---------- about ------------*/

    #about{
        width: auto;
        height: auto;
        padding: 50px 40px;
    }

    #about strong{
        font-size: 20px;
    }

    #about p{
        font-size: 14px;
        margin-top: 10px;
    }

    #about .about .education{
        padding: 30px 0;
    }

    #about .about .education header{
        color: rgb(255, 0, 149, 0.8);
    }

    #about .about .education .education-section{
        border-left: none;
        padding-left: 0; 
        margin-left: 0;
        margin-bottom: 0;
    }

    #about .about .education .education-section{
        border-left: 5px solid rgb(255, 0, 149, 0.3);
        padding-left: 20px; 
        margin-left: 20px;
        margin-bottom: 50px;
    }
    
    .education-section .education-content::before{  
        content: '';
        width: 14px;
        height: 14px;
        left: 81px;
    }

    #about .about .education .education-section .education-content{
        width:auto;
        height:auto;
        padding: 15px 10px;
        margin: 20px 5px 20px 10px;
    }

    /*---------- experience ------------*/

    #experience{
        width: auto;
        padding: 50px 20px;
    }

    #experience strong{
        font-size: 20px;
        margin-left: 0;
    }

    #experience .experience{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #experience .experience .experience-section {
        width: 350px;
        height: 230px;
        padding: 10px 30px;
        margin: 20px 0;
        font-size: 16px;
    }

    #experience .experience .experience-section img{
        width: 120px;
        height: 40px;
    }

    #experience .experience .experience-section span{
        font-size: 15px;
    }

    #experience .experience .experience-section code a{
        font-size: 16px;
    }

    #experience .experience .experience-section button{
        width: 100px;
        height:30px;
        font-size: 16px;
        margin: 10px 0 0 80px;
        
    }

    /*---------- skill ------------*/

    #skill{
        width: auto;
        margin: 80px 0;
        padding: 50px 20px;
    }

    #skill strong{
        font-size: 20px;
        margin-left: 0;
    }

    #skill .skill-section .skill-content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        display: flex;
        justify-content: center; 
        margin-top: 20px;
    }

    #skill .skill-section .skill-content .col{
        width: 150px;
        margin-top: 0;
        padding: 15px;
    }

    #skill .skill-section .skill-content .col img{
        width:60px;
        height:60px;
        margin: 15px 0;
    }

    #skill .skill-section .skill-content .col .progress bold{
        font-size: 16px;
    }

    #skill .skill-section .skill-content .col .progress-bar{
        width: 100px;
    }

    /*---------- project ------------*/

    #project{
        width: auto;
        padding: 50px 20px;
    }

    #project strong{
        font-size: 20px;
    }

    #project bold{
        font-size: 18px;
        margin: 150px 0 0 20px;
    }

    #project .project .project-section{
        width: auto;
        height: auto;
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        padding: 20px 30px;
    }

    #project .project .project-section .project-content{
        width: auto; 
        height: auto;
    }

    #project .project .project-section .project-content span{
        font-size: 18px;
    }

    #project .project .project-section .project-content big{
        font-size: 16px;  
    }

    #project .project .project-section .project-content .skills button{
        width: 80px;
        height: 25px;
        margin: 10px 0;
    }

    #project .project .project-section .project-content p{
        font-size: 16px;
        line-height: 25px;
    }

    #project .project .project-section .project-content code a{
        font-size: 18px;
    }

    #project .project .project-section .project-image img{
        width: 350px;
        height: 200px;
    }

    /*---------- contact ------------*/

    #contact{
        width: auto;
        padding: 30px 40px;
    }

    #contact strong{
        font-size: 20px;
    }

    #contact .contact{
        font-size: 16px;
    }

    #contact .social-media a i{ 
        font-size: 23px;
        margin: 40px 30px 10px 0;
    }

    /*---------- Copyright ------------*/

    #copyright p{
        font-size:14px;
    }

}